@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --breakpoint-sm: 500px;
  --breakpoint-tab: 768px;
  --breakpoint-des: 900px;
  --breakpoint-lg: 1024px;

  --animate-shake: shake 1s infinite;

  @keyframes shake {
    100% {
      transform: rotate(-15deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }
}

